header.header
  .header_column
    h1
      a(href=routes.home) Watube
  .header_column
    form(action=routes.search, method="get")
      input(type="text", placeholder="Search by term" name="term")
  .header_column
  ul
    if user.isAuthenticated
      li
        a(href=`/videos${routes.upload}`) 영상 업로드
      li
        a(href=routes.userDetail(user.id)) 나의 프로필
      li
        a(href=routes.logout) 로그아웃
    else
      li
        a(href=routes.join) 회원가입
      li
        a(href=routes.login) 로그인
      